@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Thin.woff2') format('woff2') url('Raleway-Thin.woff') format('woff');
	font-weight: 1;
	font-style: normal;
}
body {
    background-color: #dceeff;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
header, footer {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 37, 149);
}
footer{
    height: 50px;
    padding-top: 66px;
}
.login{
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 3;
    opacity: 0.5;
}
.modal-container {
    width: 500px;
    height: 750px;
    z-index: 4;
    background-color: white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-modal {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
    line-height: 28.18px;

}
.modal-container form {
    margin: 20px 0px;
}
.container {
    padding-top: 70px;
    max-width: 1300px;
    margin: 10px auto;
    min-height: 457px;
}
.center-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button-green {
    margin: 5px 0;
    background-color:  rgb(0, 37, 149); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.button-green:hover {
    background-color: #002851;
}
a{
    color: #fff;
    text-decoration: none;
    gap: 20px;
    font-weight: 500;
}
a ::after,
a :hover{
    color: #3e8e41;
}
.upper_form{
    margin: 0 auto;
    padding-left: 55px;
}
form{
    margin: 0 auto;
    padding: 0;
}
.upper_form{
    margin: 0 auto;
    padding-left: 55px;
}
form{
    margin: 0 auto;
    padding: 0;
}
.form-modal{
    margin: 0 auto;
    padding: 10px;
}
.form_container{
    display: flex;
    flex-direction: column;
    margin: 0px, -50px, 0px , 0px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    padding-left: 40px;
}
.formAnother_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
.form_containers{
    display: flex;
    flex-direction: column;
    margin: 0px, -50px, 0px , 0px;
    padding: 10px;
    justify-content: center;
    width: 100%;
    padding-left: 40px;
    gap: 10px;
}
.formAnother_containers{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.formOne_container{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}
.formSec_containers{
    display: flex;
    margin: 0 auto;
    padding: 10px;
    align-items: center;

    gap: 10px;
}
.position_form{
    display: flex;
}
.password{
    color: #A89898;
    font-weight: 500;
    font-size: 15px;
}
.quest_p{
    line-height: 15.26px;
    width: 100%;
    margin: 0 auto;
    color: #9B8E8E;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    /* justify-content: center; */
}
input.login_name { 
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position: right;
}
input.login_name  { 
    background-image:url('components/assets/eye.png');
}
input ,
.close{
    color: #A89D9D;
    font-size: 25px;
    width: 324px;
    height: 45px;
    background-color: #fff;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #A6A4A4;
    padding :6px, 10px, 6px, 10px;
    line-height: 17.61px;
    gap :10px;
}
.input_login{
    width: 334px;
    height: 45px;
    background-color: #4D4D4D;
    font-weight: 600;
    color: #fff;
    line-height: 17.61px;
    font-size: 15px;
    cursor: pointer;
} 
input::placeholder {
    line-height: 17.61px;
    font-weight:400;
    color:  #A89D9D;
    font-size: 15px;
    padding :6px, 10px, 6px, 10px;
}
label{
    text-align: left;
    width: 100%;
}

.close ::after,
.close {
    background-color: #002951;
    color: #fff;
}
h1{
    color: #002851;
}
.p{
    text-align: center;
    color: #A89898;
    font-weight: 500;
    font-size: 15px;
}
.p :hover,
.p ::after  {
    color: #002951;
}

.modal-form .error {
    color: red;
    display: flex;
}
.coco{
    background-color: #4D4D4D;
    width: 23px;
    height: 23px;
}
img{
    cursor: pointer;
}

.coco{
    width: 23px;
    height: 23px;
}


